@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$mobile-width: 500px;

html {
  font-family: "Roboto", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

.bold-text {
  font-weight: 700;
}

.italic-text {
  font-style: italic;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;

  @supports (display: grid) {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.header {
  width: 100%;

  &__title {
    font-style: italic;
    font-size: 14px;
  }
}

.authors {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $mobile-width) {
      flex-direction: column;
    }

    @supports (display: grid) {
      display: grid;
      justify-items: end;
      grid-column-gap: 10%;
      grid-template-columns: 5fr 6fr;

      @media (max-width: $mobile-width) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__card {
    flex: 0 1 40%;

    &_eric {
      flex-basis: 50%;
    }

    @media (max-width: $mobile-width) {
      flex: 0 1 100%;
    }
  }
}

.card {
  &__img {
    width: 100%;

    &:hover {
      z-index: 99999;
      box-shadow: 0 0 0 99999px rgb(0 0 0 / 80%);
      transform: scale(1.5);
      transition: all 1s ease;
    }
  }

  &__text {
    hyphens: auto;
    text-align: justify;

    &_padding-right {
      padding-right: 10%;

      @media (max-width: $mobile-width) {
        padding-right: 0;
      }
    }
  }
}

.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    @supports (display: grid) {
      display: grid;
      justify-items: end;
      grid-template-columns: 1fr;
    }
  }

  &__text {
    max-width: 700px;
    hyphens: auto;
    text-align: justify;
  }

  &__table-of-content {
    max-width: 600px;
  }

  @supports (display: grid) {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.table-of-content {
  &__col {
    margin-bottom: 20px;

    &:last-child {
      vertical-align: bottom;
      text-align: end;
    }
  }

  &_spacing {
    &_summary {
      border-spacing: 20px 15px;
    }

    &_real {
      border-spacing: 20px 5px;
    }
  }
}

.page-num {
  font-weight: 700;
  font-size: 20px;
  text-align: end;
}

.footer {
  width: 100%;
}

.copyright {
  text-align: end;
  color: #d0d0d0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.another-content {
  display: flex;
  justify-content: center;

  @supports (display: grid) {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.fake-load {
  width: 64px;
  height: 64px;
  background: url("../img/load.png") no-repeat;
  background-size: 100%;
  animation: spin 3s infinite linear;
}
