@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$mobile-width: 500px;

html {
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.header {
  width: 100%;
  &__title {
    font-size: 14px;
    font-style: italic;
  }
}

.authors {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__about {
    flex: 1 1 50%;

    @media (max-width: $mobile-width) {
      min-width: 100%;
    }

  }

  &__text {
    text-align: justify;
    hyphens: auto;
  }

  img {
    width: 100%;
  }
}

.elizabeth {
  flex: 0 1 40%;
}

.eric {
  flex: 0 1 50%;

  .authors {
    &__text {
      margin-right: 10%;

      @media (max-width: $mobile-width){
        margin-right: 0;
      }
    }
  }
}

.index-page {
  width: 100%;

  h2 {
    font-size: 28px;
  }

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  &__text {
    max-width: 700px;

    h3 {
      font-size: 24px;
    }
  }
}

.table {
  width: 100%;
  &__col {
    &:last-child {
      text-align: end;
      vertical-align: bottom;
    }
  }
}

.table-of-content {
  max-width: 600px;
}

.summary {
  &__table {
    border-spacing: 20px 15px;
  }
}

.real {
  &__table {
    border-spacing: 20px 5px;
  }
}

.page-num {
  p {
    font-weight: bold;
    font-size: 20px;
  }
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: flex-end;

  .copyright {
    p {
      color: #d0d0d0;
    }
  }
}

