@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  font-family: "Roboto", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

.bold-text {
  font-weight: 700;
}

.italic-text {
  font-style: italic;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

body {
  display: flex;
  justify-content: center;
}
@supports (display: grid) {
  body {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
}
@supports (display: grid) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.header {
  width: 100%;
}
.header__title {
  font-style: italic;
  font-size: 14px;
}

.authors {
  width: 100%;
}
.authors__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .authors__container {
    flex-direction: column;
  }
}
@supports (display: grid) {
  .authors__container {
    display: grid;
    justify-items: end;
    grid-column-gap: 10%;
    grid-template-columns: 5fr 6fr;
  }
  @media (max-width: 500px) {
    .authors__container {
      grid-template-columns: 1fr;
    }
  }
}
.authors__card {
  flex: 0 1 40%;
}
.authors__card_eric {
  flex-basis: 50%;
}
@media (max-width: 500px) {
  .authors__card {
    flex: 0 1 100%;
  }
}

.card__img {
  width: 100%;
}
.card__img:hover {
  z-index: 99999;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
  transform: scale(1.5);
  transition: all 1s ease;
}
.card__text-area.card__text-area_padding-right {
  padding-right: 10%;
}
@media (max-width: 500px) {
  .card__text-area.card__text-area_padding-right {
    padding-right: 0;
  }
}
.card__text {
  hyphens: auto;
  text-align: justify;
}

.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.index-page__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
@supports (display: grid) {
  .index-page__content {
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr;
  }
}
.index-page__text {
  max-width: 700px;
  hyphens: auto;
  text-align: justify;
}
.index-page__table-of-content {
  max-width: 600px;
}
@supports (display: grid) {
  .index-page {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.table-of-content__col {
  margin-bottom: 20px;
}
.table-of-content__col:last-child {
  vertical-align: bottom;
  text-align: end;
}
.table-of-content.table-of-content_spacing-summary {
  border-spacing: 20px 15px;
}
.table-of-content.table-of-content_spacing-real {
  border-spacing: 20px 5px;
}

.page-num {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 20px;
}
@supports (display: grid) {
  .page-num {
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr;
  }
}

.footer {
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  color: #d0d0d0;
}
@supports (display: grid) {
  .copyright {
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.another-content {
  display: flex;
  justify-content: center;
}
@supports (display: grid) {
  .another-content {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.fake-load {
  width: 64px;
  height: 64px;
  background: url("../img/load.png") no-repeat;
  background-size: 100%;
  animation: spin 3s infinite linear;
}

/*# sourceMappingURL=style.css.map */
